<header>
    <h1>{{title}}</h1>
    <nav>
        <a href="/">Index</a>
        <a href="/static1.html">Static 1</a>
        <a href="/view1">View 1</a>
        <a href="/view2">View 2</a>
    </nav>
</header>